*.rbc
*.sassc
.sass-cache
capybara-*.html
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
db/schema.rb
db/mongodb_indexes.rb
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
/.idea
.env
/TAGS
.DS_Store
/vendor/assets/bower_components
/node_modules
/public/assets
